.container {
    font-family: 'Questrial', sans-serif;

    height: 100vh;
    background-color: lightgrey;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas:
        "sidebar header"
        "sidebar mainArea";
}

.header {
    background-color: lightsalmon;
    grid-area: header;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.searchBarBox {
    background-color: lightgrey;
    display: grid;
    grid-template-columns: 0.5fr 10fr;
    justify-items: left;
    align-items: center;
}

.searchBarBox button {
    border: none;
    background-color: transparent;
    width: 50px;
    margin-left: 30px;
}

.header input[type=text] {
    width: 65%;
    height: 30%;
    border-radius: 30px;
    border: none;
    background-color: #f5f5f5;
    padding-left: 20px;
}

.profileBox {
    background-color: lightpink;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin-right: 15px;
}

.profileBox .material-icons {
    font-size: 36px;
}

.profilePicSmall {
    width: 50px;
}

.profilePicBig {
    width: 80px;
}

.greetingBox {
    background-color: palevioletred;
    margin-left: 30px;
    display: grid;
    grid-template-columns: 1fr 9fr;
    /* align-items: center;
    justify-items: left; */
}

.greetingBoxLeft {
    display: grid;
    align-items: center;
    justify-items: center;
}

.greetingBoxRight {
    background-color: azure;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; */
}

.name {
    font-weight: bold;
    font-size: large;
}

.buttonContainer {
    background-color: lightslategray;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.button {
    background-color: rgb(206, 231, 112);
    width: 45%;
    height: 35px;
    border-radius: 25px;
    border: none;
}

.sidebar {
    background-color: lightblue;
    grid-area: sidebar;
    font-weight: bold;

    display: grid;
    grid-template-rows: 1fr 10fr;
}

.heading {
    /* the "dashboard" title area */
    background-color: aqua;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-top: 10px;
}

.sidebarHeading {
    font-weight: bold;
    font-size: 200%;
    /* justify-items: left; */
    vertical-align: bottom;
}

/* .sidebarLinks {
    justify-items: center;
} */

li {
    display: grid;
    padding: 5px;
}

.sidebarLinks .material-icons {
    padding-left: 55px;
}

.sidebar .material-icons {
    vertical-align: bottom;
    padding-right: 10px;
    padding-left: 40px;
    padding-top: 15px;
}

.mainArea {
    background-color: green;
    grid-area: mainArea;
    display: grid;
    margin-left: 30px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.5fr 1.5fr 2fr;
    grid-template-areas:
        "header header"
        "projects announcements"
        "projects trending";
}

.projects {
    background-color: lightgreen;
    grid-area: projects;

    display: grid;
    margin-right: 30px;
    margin-bottom: 30px;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
}

.card {
    background: lightskyblue;
}


.announcements {
    background-color: rgb(68, 173, 68);
    grid-area: announcements;
    display: grid;
    margin-right: 30px;
}

.trending {
    background-color: rgb(74, 139, 74);
    grid-area: trending;
    display: grid;
    margin-bottom: 30px;
    margin-right: 30px;
    grid-template-rows: 1fr 4fr;
}